<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!--
            BotDetect configuration:

            If your project is not going to be using the Simple API,
            the "Simple API: ..." configuration lines bellow can be safely removed.

            If your project is not going to be using the Traditional API,
            the "Traditional API: ..." configuration lines bellow can be safely removed.
        -->

		<!-- Traditional API: Register the BotDetect's Configuration section -->
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
	</configSections>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <!-- Traditional API: Ensuring Session State is enabled --><pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true">
      
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" /></controls></pages>
    <!-- Max 20 Mb de subida de archivos. -->
    <httpRuntime executionTimeout="240" maxRequestLength="20480" />
  <httpHandlers>
			<!-- Simple API: Register the HttpHandler used for BotDetect requests -->
			<add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
			<!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</httpHandlers><!-- Traditional API: Register a custom SessionIDManager for BotDetect requests --><sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" /></system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0.  No es necesaria para la versión anterior de IIS.
  -->
<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
			<remove name="SimpleCaptchaEndpoint" />
			<add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />

			<!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</handlers>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>